<html>

<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>
</head>


<body>

	<div id = "navbar">
		 <nav class="navbar navbar-expand-sm justified-content-center">
			<ul class="navbar-nav">
				<li class = "nav-item">
					<a class ="nav-link1" href="/index" >Home</a>
				</li>
			
				<li class="nav-item">
					<a class="nav-link" href="/settings"> Settings </a>
				</li>
			</ul>
		 </nav>

				<div class="dropdown">
  					<button  class="dropbtn" id = "btnhome">Hands-On/Writing </button>
  					<div id="myDropdown" class="dropdown-content">
   						<a class ="navButton" id="readingNav">Reading/Visual</a>
    					<a class= "navButton" id="visualNav">Visual/Auditory</a>
    					<a class= "navButton" id="writingNav">Hands-On/Writing</a>  					</div>
				</div>
				
				<button class = "streaklesson"> Current Streak: 1</button>
			
	</div>

	<div class="container">
		{{#each lessons}}
		
		<div class="jumbotron">
			<h1 class="heading" id = "">
				{{title}}
			</h1>
		</div>

	</div>

	<div class="container" id="quizBody">
 		 
 		 <img src={{image}} class="image1">
 		 
 		 <h2 class= "description"> {{description}} </h2>

 		 {{/each}}
		</div>

	<div class="quizform">

	<h2 style="font-weight: bold;"> Questions! </h2>
<!---->

	<div id="question1">
	{{#each lessons}}
		<h4> {{question1}} </h4>
			<button class="quizOption" id="q1optionA">{{question1OptionA}}</button>
			<button class="quizOption" id="q1optionB">{{question1OptionB}}</button>
			<button class="quizOption" id="q1optionC">{{question1OptionC}}</button>
			<button class="quizOption" id="q1optionD">{{question1OptionD}}</button>
			<p hidden class = "answers" id= "q1Answer">{{question1Answer}} </p>
	</div>

		<br>
	<div id="question2">
		<h4>{{question2}}</h4>
			<form class="form-inline" action="/add" method="get" id ="quizQuestion2">
				<input type="text" >
				<button type="submit" class="btn btn-primary">check</button>
			</form>
	</div>
		<br>
	<div id="question3">
		<h4>{{question3}}</h4>
			<button class="quizOption" id="q3optionA"> {{question3OptionA}}</button>
			<button class="quizOption" id="q3optionB"> {{question3OptionB}} </button>
			<button class="quizOption" id="q3optionC"> {{question3OptionC}} </button>
			<button class="quizOption" id="q3optionD"> {{question3OptionD}} </button>
			<p hidden class = "answers" id= "q3Answer">{{question3Answer}} </p>
	</div>
		<br>

	<div id="question4">
		<h4> {{question4}}</h4>
			<form class="form-inline" action="/topic.php">
				<input type="topic" >
				<button type="submit" class="btn btn-primary">check</button>
			</form>
	</div>
		<br>
		{{/each}}
	</div>




	<div id="quiz"></div>
	<button id="quizSubmit">Submit Quiz</button>
	<div id="quizResults"></div>

	


</body>

</html>
